* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}



.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #3339;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  padding: 20px;
  background-color: lightblue ;

  display: flex;
  flex-direction: column;
  
  border-radius: 10px;
  border: 2px solid palevioletred;
  color: palevioletred;
  width:300px;
  height:400px;
}

.auth-container > form > input {
  margin: 30px 8px;
  padding: 8px;
  border-radius: 4px;
  font-size:20px
}

.auth-container > form > button {
  margin: 30px 8px;
  padding: 8px;
  border-radius: 4px;
  font-size:20px
}

/* //////////profile//////////// */
  .profile{
    margin-top:10vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:500px;
  }

  .gridcontainer{
    display: grid;
    justify-items: center;
    grid-template-rows:10% 10% 60%;
    height:450px;
  }
  .gridcontainer > h1{
    font-size: 30px;
    color: rgb(128, 159, 255);
  }
  .gridcontainer > h3{
    font-size: 25px;
    color:rgb(128, 159, 255);
  }
  

  .issueformholder{
    display:grid;
    padding:10px;
    background-color: rgb(128, 159, 255);
    border-radius: 10px;
  }

 .issueform{
   grid-column:2/3;
   display:flex;
   flex-direction: column;
   width:300px;
 }
 .issueform > input{
   margin-top:20px;
   height:50px;
   border-radius: 10px;
 }
 .issueform >button{
   margin:20px;
   height: 50px;
   background-color: rgb(255, 122, 122);
   border-radius: 10px;
   color: rgb(78, 99, 161);
 }
 .issuelist{
   display:grid;
   grid-column: 0/1;
   margin-top:25px;
 }
 .issuegrid{
   display:block;
   grid-column:0/1;
   margin:5px;
   text-align: center;
   
 }
.issuegrid > div{
  border: 1px solid #000000;
  border-radius:10px;
  background-color: rgb(255, 122, 122);
   color: rgb(78, 99, 161);
}
 .issuegrid > div >  h1{
   margin:5px;
 }
 .issuegrid >div >h2{
   margin: 5px;
 }
 .yourissues{
   font-size:20px;
   font-style:bold;
   color: rgb(255, 122, 122);
 }

 /* ////////////////public////////////////////// */
 .maincontainer{
   display:grid;
   grid-template-columns: 1fr 5fr 1fr;
  }
  .issuecontainer1{
    display:grid;
    grid-column:2/3;
    align-content: center;
  }
  
  .issuegridcontainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin:20px;
    background-color:rgb(255, 122, 122);
    border-radius: 10px;
    text-align: center;
}
.halved{
  margin-left: 10px;
  width:300px;
}
.dived{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column:3/4;
  margin-top:10px;
}
.butt1{
  background-color: rgb(113, 139, 219);
  width:100px;
  grid-column:3/4;
  height:20px;
  border-radius: 10px;
}
.butt2{
  background-color: rgb(113, 139, 219);
  width:100px;
  grid-column:0/1;
  height:20px;
  border-radius: 10px;
}
.addbutton{
  background-color: rgb(113, 139, 219);
  border-radius: 10px;
  width:120px;
}
.buttons{
  width:75px;
  background-color: rgb(113, 139, 219);
  border-radius: 10px;
}